/*
 * Copyright (C) 2018 Mans Rullgard <mans@mansr.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "sun7i-a20-einstein.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Cerbo GX";
	compatible = "victronenergy,cerbo-gx",
		     "cubietech,einstein",
		     "allwinner,sun7i-a20";

	aliases {
		ethernet0 = &emac;
		rtc0 = &rtc0;
		rtc1 = &rtc;
		watchdog0 = &ext_wdt;
		watchdog1 = &wdt;
	};

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";
		ddc-i2c-bus = <&i2c2>;

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	button {
		compatible = "gpio-keys";

		button {
			linux,code = <KEY_CONFIG>;
			gpios = <&pio 7 8 GPIO_ACTIVE_LOW>; /* PH8 */
		};
	};

	leds {
		compatible = "gpio-leds";

		status-green {
			label = "status-green";
			gpios = <&pio 6 6 GPIO_ACTIVE_HIGH>; /* PG6 */
			default-state = "off";
		};

		status-orange {
			label = "status-orange";
			gpios = <&pio 6 7 GPIO_ACTIVE_HIGH>; /* PG7 */
			linux,default-trigger = "blink-slow";
		};

		bluetooth {
			label = "bluetooth";
			gpios = <&pio 6 8 GPIO_ACTIVE_HIGH>; /* PG8 */
			default-state = "off";
		};
	};

	buzzer {
		compatible = "pwm-beeper";
		pwms = <&pwm 0 1000000 0>;
	};

	ext_wdt: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&pio 1 12 GPIO_ACTIVE_HIGH>; /* PB12 */
		hw_algo = "toggle";
		hw_margin_ms = <30000>;
		always-running;
	};
};

&reg_ldo3 {
	regulator-always-on;
};

&de {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&can_pa_pins>;
	status = "okay";
};

&emac {
	pinctrl-names = "default";
	pinctrl-0 = <&emac_pa_ph_pins>;
	phy = <&phy0>;
	phy-mode = "mii";
	status = "okay";
};

&emac_sram {
	status = "okay";
};

&mdio {
	reset-gpios = <&pio 7 27 GPIO_ACTIVE_LOW>; /* PH27 */
	reset-delay-us = <100>;
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <0>;
	};
};

&mmc0 {
	cd-gpios = <&pio 8 10 GPIO_ACTIVE_LOW>; /* PI10 */
	status = "okay";
};

&mmc3 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		read-only;
	};

	rtc0: rtc@68 {
		compatible = "nxp,pcf8523";
		status = "okay";
		reg = <0x68>;
	};
};

&i2c2 {
	status = "okay";

	touchscreen@38 {
		compatible = "edt,edt-ft5316", "edt,edt-ft5306";
		reg = <0x38>;
		interrupt-parent = <&pio>;
		interrupts = <8 11 IRQ_TYPE_EDGE_FALLING>;
	};

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		read-only;
	};

	backlight@51 {
		compatible = "victron,gxdisp-backlight";
		reg = <0x51>;
		default-on;
		default-brightness = <15>;
	};
};

&i2c3 {
	status = "okay";

	adc@12 {
		compatible = "victron,cerbo-gx-adc";
		reg = <0x12>;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pin>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pa_pins>;
	rts-gpios = <&pio 0 9 GPIO_ACTIVE_HIGH>; /* PA9 */
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_ph_pins>, <&uart3_cts_rts_ph_pins>;
	uart-has-rtscts;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart4_ph_pins>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart5_ph_pins>;
	status = "okay";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart6_pa_pins>;
	status = "okay";
};

&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pa_pins>;
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	non-removable-ports = <1>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	usb-hub@1 {
		compatible = "usb424,2422";
		reg = <1>;
		non-removable-ports = <1>;

		#address-cells = <1>;
		#size-cells = <0>;

		wireless-controller@1 {
			compatible = "usbbda,b720";
			reg = <1>;

			#address-cells = <2>;
			#size-cells = <0>;

			bluetooth@0 {
				compatible = "usbifbda,b720.config1.0";
				reg = <0 1>;
				status = "disabled";
			};

			bluetooth@1 {
				compatible = "usbifbda,b720.config1.1";
				reg = <1 1>;
				status = "disabled";
			};
		};
	};
};

&otg_sram {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&usbphy {
	usb0_vbus-supply = <&reg_usb0_vbus>;
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	status = "okay";
};

&reg_usb0_vbus {
	gpio = <&pio 1 8 GPIO_ACTIVE_HIGH>; /* PB8 */
	status = "okay";
};

&reg_usb1_vbus {
	gpio = <&pio 8 2 GPIO_ACTIVE_HIGH>; /* PI2 */
	status = "okay";
};

&reg_usb2_vbus {
	gpio = <&pio 8 3 GPIO_ACTIVE_HIGH>; /* PI3 */
	status = "okay";
};

&pio {
	emac_pa_ph_pins: emac-pa-ph-pins {
		pins = "PA0", "PA1", "PA2", "PA3",
		       "PH14", "PH15", "PH16", "PH17",
		       "PA8", "PH19", "PH20", "PH21",
		       "PH22", "PH23", "PH24", "PH25",
		       "PH26";
		function = "emac";
	};
};
