/*
 * Copyright (C) 2019 Mans Rullgard <mans@mansr.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

#include "sun8i-h3-nanopi-neo-core.dtsi"

/ {
	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
		serial3 = &uart3;
		ethernet0 = &emac;
		i2c0 = &i2c0;
		watchdog0 = &ext_wdt;
		watchdog1 = &wdt0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	ext_wdt: watchdog {
		compatible = "linux,wdt-gpio";
		gpios = <&pio 0 2 GPIO_ACTIVE_HIGH>; /* PA2 */
		hw_algo = "toggle";
		hw_margin_ms = <30000>;
		always-running;
	};

	can_clk: can-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <20000000>;
	};

	reg_usb3_vbus: usb3-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb3-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pio 4 13 GPIO_ACTIVE_HIGH>; /* E13 */
	};
};

&i2c0 {
	status = "okay";

	eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <16>;
		read-only;
	};

	rtc1: pcf8523@68 {
		compatible = "nxp,pcf8523";
		status = "okay";
		reg = <0x68>;
	};
};

&spi0 {
	status = "okay";

	assigned-clocks = <&ccu CLK_SPI0>;
	assigned-clock-rates = <600000000>;

	can0: can@0 {
		compatible = "microchip,mcp2518fd";
		reg = <0>;
		spi-max-frequency = <10000000>;
		clocks = <&can_clk>;
		interrupt-parent = <&pio>;
		interrupts = <0 21 IRQ_TYPE_LEVEL_LOW>; /* PA21 */
		rx-int-gpios = <&pio 0 19 GPIO_ACTIVE_LOW>; /* PA19 */
	};
};

&emac {
	status = "okay";
};

&ehci1 {
	non-removable-ports = <1>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	wireless-controller@1 {
		compatible = "usbbda,d723";
		reg = <1>;
	};
};

&rtc {
	status = "disabled";
};

&reg_usb1_vbus {
	gpio = <&pio 0 18 GPIO_ACTIVE_HIGH>; /* PA18 */
	status = "okay";
};

&reg_usb2_vbus {
	gpio = <&pio 0 7 GPIO_ACTIVE_HIGH>; /* PA7 */
	status = "okay";
};

&usbphy {
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	usb3_vbus-supply = <&reg_usb3_vbus>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_a>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins>;
};
